@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind utilities;
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  interpolate-size: allow-keywords;
 --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}
.button-primary {
  @apply rounded-full font-medium md:font-bold  bg-blue-500 px-2 py-1 md:px-3 md:py-1.5 text-white transition-colors duration-200 hover:bg-blue-600 ;
}
.plain-icon {
  @apply w-5 h-5 md:w-6 md:h-6;
}
.standalone-icon {
  @apply flex justify-center  w-4 h-4 md:w-5 md:h-5 ;
}
input, textarea {
 @apply  placeholder:text-neutral-400 focus:placeholder:text-neutral-300 border-2 focus:border-blue-900 ring-2  outline-none;
}   
html {
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.colorpickernewtournamentform {
  color-scheme: dark;
}